body{
    font-family: 'Sans-Seriff';
        border: solid;
    border-width: thick;
}

.content,
.content1 {
    width: auto;
    height: auto;
    color: #bf0303;
    flex-flow:wrap-reverse;
}
.content2 {
  color: #bf0303;
  font: 100 24px/100px sans-serif;
  height: 150px;
  width: 500px;
  text-align: center;
}

.content div,
.content1 div,
.content2 div {
  height: 10%;
  width: 150px;
}
.red {
  background: red;
}
.black {
  background: rgba(0, 0, 0, 0);
}
.red {
  background: red;
}

.content {
  display: flex;
  flex-wrap: wrap;
}
.content1 {
  display: flex;
  flex-wrap: nowrap;
}
.content2 {
  display: flex;
  flex-flow: column-reverse;
}